body {
  font-family: "Noto Sans TC", sans-serif;
  background-color: var(--primaryColor);
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  display: block;
  height: 6px;
  width: 90%;
  background: #2ec4b6;
  opacity: 0.6;
  bottom: 0;
  left: 10%;
  z-index: -1;
}

a:hover {
  cursor: pointer;
}
.section-title {
  font-size: 40px;
}

.bordered-container {
  border: 1px solid black;
}

.section {
  margin-bottom: 30px;
}

.badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  text-decoration: none;
}

.badge img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.badge p {
  font-size: 14px;
  margin-top: 10px;
  line-height: 16px;
  text-align: center;
}

.badge-wrapper {
  display: grid;
  padding: 10px;
  border: 1px solid black;
  grid-template-columns: repeat(5, 20%);
  justify-items: center;
  row-gap: 15px;
}

@media (max-width: 568px) {
  .badge-wrapper {
    grid-template-columns: repeat(2, 50%);
  }
}
